@import '_cssreset';
@import '_colors';

body {
  font-family: 微軟正黑體;
}

.main {
  max-width: 1024px;
  margin: 0 auto;
  background: #F9F9F9;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  background: url('./../img/Hero.png') no-repeat center center;
  position: relative;
  h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 2.5rem;
    text-align: center;
  }
  .selectdiv{
    width: 452px;
    height: 48px;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    &:after {
      content: "▼";
      padding: 15px 8px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      text-align: center;
      width: 10%;
      height: 100%;
      pointer-events: none;
    }
    .selectZone{
      height: 48px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      padding-left: 0.5rem;
      border-radius: 10px;
      background: rgba(255,255,255,0.8);
      appearance: none;
      border: 0
    }
  }
  .banner{
    width: 800px;
    height: 112px;
    padding: 1rem 4rem;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: -60px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    h2 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.7rem;
    }
    ul {
      display: flex;
      justify-content: space-between;
      li {
        a {
          display: block;
          padding: 1rem 2.5rem;
          color: #fff;
          font-size: 1rem;
          letter-spacing: 2px;
          border-radius: 15px;
          text-decoration: none;
        }
        &:nth-child(1) a{
          background-color: $purple
        }
        &:nth-child(2) a{
          background-color: $red;
        }
        &:nth-child(3) a{
          background-color: $yellow;
        }
        &:nth-child(4) a{
          background-color: $blue;
        }
      }
    }
  }
}

#content {
  padding: 7rem 2rem 2rem;
  .travelZone{
    border-top: 2px dashed $blue;
    padding-top: 2rem;
    h3 {
      text-align: center;
      font-size: 36px;
    }
    .travelSpots{
      margin-top: 3rem;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      .travelCard{
        margin-right: 2.5%;
        margin-left: 2.5%;
        width: 45%;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
        margin-bottom: 2rem;
        .cardHead{
          color: #fff;
          height: 155px;
          background-size: cover;
          background-size: 100%;
          background-position: center;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          h6 {
            font-size: 1.7rem;
            margin-left: 1rem;
            font-weight: 500;
            padding-bottom: 1rem;
          }
          span{
            font-size: 1rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
          }
        }
        .cardBody {
          position: relative;
          padding: 1rem;
          background-color: #fff;
          ul {
            padding-left: 1rem;
            li {
              margin-bottom: 7px;
              display: flex;
              align-items: center;
              letter-spacing: 1px;
              line-height: 1.2;
              font-weight: 500;
              img{
                margin-right: 0.5rem;
              }
            }
          }
        }
        .ticketInfo{
          position: absolute;
          display: flex;
          align-items: center;
          right: 15px;
          bottom: 10px;
          img {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

// Go Top Icon

.goTopIcon {
  display: flex;
  justify-content: flex-end;
}

#footer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.8);
  background-color: $blue;
  p{
    margin-bottom: 0.6rem;
  }
  span{
    color: $yellow;
  }
}
